@import "font-custom-f1.css";
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 0;
    min-height: 100vh;
}
nav select {
    display: none;
}
@media (max-width: 960px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}
.a-menu, .active {
    font-family: formula1regular, fantasy;
    float: left;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 15px;
}
.a-img{
    margin-left: 0;
    padding: 0 0 0 0;
}
.a-img:hover{
    background-color: white;
}
/* Change the color of links on hover */
.a-menu:hover {
    background-color: #ffa7a7;
    color: white;
}
/* Add a color to the active/current link */
.active {
    background-color: red;
    text-decoration-line: underline;
    color: white;
}
ul {
    display: flex;
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;}
nav {
    background-color: white;
    overflow: hidden;
    margin-right: auto;
}
h1 {
    font-family: formula1wide, fantasy;
    text-align: center;
    margin-block-end: 1em
}
h2{
    font-family: formula1wide, fantasy;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-family: formula1wide, fantasy;
    text-align: start;
}
.img-logo{
    padding-left: 50px;
    padding-right: 25px;
    height: 58px;
    background-color: red;
    margin: 0 0 0 0;
}
label, img, p{
    font-family: formula1regular, fantasy;
}
.log-out-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 20%;
}
button{
    font-family: formula1regular, fantasy;
    border-radius: 8px;
    border-width: 0;
    background-color: red;
    padding: 10px 24px;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 8px 22px
}
#form-search{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
#input-search{
    font-family: formula1regular, sans-serif;
    margin-right: 10px;
}
#div-filter-forms{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
option, select{
    font-family: formula1regular, sans-serif;
}

footer{
    align-self: center;
    background: black;
    color: white;
    font-family: formula1regular, sans-serif;
    font-size: small;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#div-section-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 76.5vh;
}
.img-logo-footer{
    padding-left: 50px;
    padding-right: 25px;
    height: 58px;
    background-color: black;
    margin: 7px 0 0 0;
}
.p-footer1. .p-footer2{
    font-size: small;
}
#div-footer-text{
    margin-right: 20px;
}

#div-footer{
    display: flex;
    justify-content: center;
    background: black;

    width: 100%;
}
.section1{
    display: flex;
    align-items: flex-start;
}
.section2{

}
