@import "font.css";
@import "fontcustomf1.css";
body{margin: 0 0 0 0;}


button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 20%;
    font-family: formula1bold, fantasy;
}

