@import "font.css";
@import "fontcustomf1.css";
body{margin: 0 0 0 0;}
.log-out-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 20%;
    font-family: formula1regular, fantasy;
    border-radius: 8px;
    border-width: 0;
    background-color: red;
    padding: 10px 24px;
    color: white;
}
.add-album-button{
    font-family: formula1regular, fantasy;
    border-radius: 8px;
    border-width: 0;
    background-color: red;
    padding: 10px 24px;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid red;
}
