<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galerie modelů F1 | Přidat obrázky</title>
    <link href="/images/favicon.png" rel="icon" type="image/png">
    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
</head>
<body>
<header>
    <div>
        <form class="form-signin" method="get" action="/logout">
            <!--když máme nepovoleno crsf() tak method="get", jinak "post"-->
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <button class="log-out-button" type="submit">Odhlásit se</button>
        </form>

        <nav>
            <ul>
                <li><a class="a-img" th:href="@{/}"><img class="img-logo" src="/images/f1logo.png" alt="Logo"></a></li>
                <li><a class="a-menu" th:href="@{/}">Domů</a></li>
                <li><a class="a-menu" th:href="@{/moje-galerie}">Moje galerie</a></li>
                <li><a th:href="@{/nove-album}" class="active">Nové album</a></li>
                <li><a class="a-menu" th:href="@{/muj-profil}">Můj profil</a></li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a class="a-menu" th:href="@{/uzivatele}">Uživatelé</a></li>
            </ul>
            <select>
                <option value="" selected="selected">Select</option>

                <option value="/">Moje galerie</option>
                <option value="/login">Nové album</option>
                <option value="/registrace">Můj profil</option>
            </select>
        </nav>

    </div>
</header>
<h2>Přidat obrázky</h2>
<section>
    <form action="#" th:action="@{/addImages/{id}(id=${album.id})}" th:object="${album}" method="post"
          enctype="multipart/form-data">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div id="adding-elements-div">
            <div class="div-input" th:each="image, itemStat : *{images}">
                <!--<input class="img-input" type="file" th:field="${*{images[__${itemStat.index}__].image}}"/>-->
                <input class="img-input" type="file" th:name="|images[${itemStat.index}].image|"
                       th:value="${image.getImage()}"/>
            </div>
            <button class="btn-main" type="submit">Přidat obrázky</button>
        </div>
    </form>
</section>

</body>
</html>