<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Přihlášení - Galerie F1</title>
    <link href = "/images/favicon.png" rel = "icon" type = "image/png" >
    <link href = "/css/login.css" rel = "stylesheet">
</head>
<body>
<div class="container">
    <form method="post" action="/login">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Přihlášení</h2>
        <p>
            <label for="username" class="sr-only">Uživatelské jméno</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Uživatelské jméno" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Heslo</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Heslo" required>
        </p>
        <p>
            <label>
                Zůstat přihlášen <input type="checkbox" value="remember-me">
            </label>
        </p>
        <div th:if="${param.error}" class="alert alert-danger">
            Špatné uživatelské jméno nebo heslo
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit se</button>
    </form>
</div>
</body>
</html>
