<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Galerie modelů F1 | Registrace</title>
  <link href = "/images/favicon.png" rel = "icon" type = "image/png" >
  <link href = "/css/general.css" rel = "stylesheet">
  <link href = "/css/form.css" rel = "stylesheet">
  <link href = "/css/registration.css" rel = "stylesheet">
</head>
<body>
<section class="section1">
<header>
  <nav>
    <ul>
      <li><a class="a-img" th:href="@{/}"><img class="img-logo" src="/images/f1logo.png" alt="Logo"></a></li>
      <li><a class="a-menu" th:href="@{/}" >Domů</a></li>
      <li><a class="a-menu" th:href="@{/login}" >Přihlásit se</a></li>
      <li><a th:href="@{/registrace}" class="active">Registrace</a></li>
    </ul>
    <select>
      <option value="" selected="selected">Select</option>

      <option value="/">Domů</option>
      <option value="/login">Přihlásit se</option>
      <option value="/registrace">Registrace</option>
    </select>
  </nav>
</header>
</section>
<section class="section2">
<h2 class="h2-registration">Registrace</h2>
<section>
<form action="/register" th:object="${user}" method="POST">
  <!--nevymazávat, csrf token-->
  <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"/>
  <div>

      <input class="input-text" placeholder="Uživatelské jméno" th:field="*{username}"/>
    <p th:each="error: ${#fields.errors('username')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

    <input class="input-text" placeholder="Email" type="email" th:field="*{email}"/>
    <p th:each="error : ${#fields.errors('email')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

      <input class="input-text" placeholder="Heslo" type="password" th:field="*{password}"/>
    <p th:each="error : ${#fields.errors('password')}"
       th:text="${error}">Validation error</p>
    <p th:each="error : ${#fields.errors('matchingPassword')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

    <input class="input-text" placeholder="Heslo znovu" type="password" th:field="*{matchingPassword}"/>
  </div>
  <button type="submit">Registrovat se</button>
  <div class="div-message">
    <p th:text="${message}">Uživatel s daným emailem nebo uživatelským jménem už existuje.</p>
  </div>
</form>

</section>
</section>
<section class="section3">
  <div id="div-footer">
    <div th:replace="fragments/footer :: footer"></div>
  </div>
</section>
</body>
</html>