<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Galerie modelů F1 | Registrace</title>
  <link href = "/images/favicon.png" rel = "icon" type = "image/png" >
  <link href = "/css/general.css" rel = "stylesheet">
  <link href = "/css/form.css" rel = "stylesheet">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a class="a-img" th:href="@{/}"><img class="img-logo" src="/images/f1logo.png" alt="Logo"></a></li>
      <li><a class="a-menu" th:href="@{/}" >Domů</a></li>
      <li><a class="a-menu" th:href="@{/login}" >Přihlásit se</a></li>
      <li><a th:href="@{/registrace}" class="active">Registrace</a></li>
    </ul>
    <select>
      <option value="" selected="selected">Select</option>

      <option value="/">Domů</option>
      <option value="/login">Přihlásit se</option>
      <option value="/registrace">Registrace</option>
    </select>
  </nav>
</header>
<h2>Registrace</h2>
<section>
<form action="/register" th:object="${user}" method="POST">
  <!--nevymazávat, csrf token-->
  <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"/>
  <div>

      <input placeholder="Křestní jméno" th:field="*{firstName}"/>
    <p th:each="error: ${#fields.errors('firstName')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

    <input placeholder="Příjmení" th:field="*{lastName}"/>
    <p th:each="error : ${#fields.errors('lastName')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

    <input placeholder="Email" type="email" th:field="*{email}"/>
    <p th:each="error : ${#fields.errors('email')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

      <input placeholder="Heslo" type="password" th:field="*{password}"/>
    <p th:each="error : ${#fields.errors('password')}"
       th:text="${error}">Validation error</p>
    <p th:each="error : ${#fields.errors('matchingPassword')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>

    <input placeholder="Heslo znovu" type="password" th:field="*{matchingPassword}"/>
  </div>
  <button type="submit">Registrovat se</button>

</form>

<div>
  <p th:text="${message}">Uživatel s daným emailem už existuje.</p>
</div>
</section>
</body>
</html>