<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Galerie modelů F1 | Registrace</title>
  <link href = "/images/favicon.png" rel = "icon" type = "image/png" >
  <link href = "/css/general.css" rel = "stylesheet">
</head>
<body>
<h1>Registrace</h1>

<form action="/register" th:object="${user}" method="POST">
  <!--nevymazávat, csrf token-->
  <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"/>
  <div>
    <label>Křestní jméno: </label>
      <input th:field="*{firstName}"/>
    <p th:each="error: ${#fields.errors('firstName')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label>Příjmení: </label>
    <input th:field="*{lastName}"/>
    <p th:each="error : ${#fields.errors('lastName')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label>Email: </label>
    <input type="email" th:field="*{email}"/>
    <p th:each="error : ${#fields.errors('email')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label>Heslo: </label>
      <input type="password" th:field="*{password}"/>
    <p th:each="error : ${#fields.errors('password')}"
       th:text="${error}">Validation error</p>
    <p th:each="error : ${#fields.errors('matchingPassword')}"
       th:text="${error}">Validation error</p>
  </div>
  <div>
    <label>Heslo znovu: </label>
    <input type="password" th:field="*{matchingPassword}"/>
  </div>
  <button type="submit">Registrovat se</button>

</form>

<div>
  <p th:text="${message}">Uživatel s daným emailem už existuje.</p>
</div>
<a th:href="@{/login}">Přihlásit se</a>
</body>
</html>