<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galerie modelů F1 | Obnova hesla</title>
    <link href="/images/favicon.png" rel="icon" type="image/png">
    <link href = "/css/general.css" rel = "stylesheet">
    <link href = "/css/form.css" rel = "stylesheet">
    <link href = "/css/reset-password.css" rel = "stylesheet">
    <script type="text/javascript" src="/js/check-password-match.js"></script>
</head>
<body>
<section class="section1">
<nav>
  <ul>
    <li><a class="a-img" th:href="@{/}"><img class="img-logo" src="/images/f1logo.png" alt="Logo"></a></li>
    <li><a class="a-menu" th:href="@{/}" >Domů</a></li>
    <li><a class="a-menu" th:href="@{/login}">Přihlásit se</a></li>
    <li><a class="a-menu" th:href="@{/registrace}">Registrace</a></li>
  </ul>
  <select>
    <option value="" selected="selected">Select</option>

    <option value="/">Domů</option>
    <option value="/login">Přihlásit se</option>
    <option value="/registrace">Registrace</option>
  </select>
</nav>
</section>
<section class="section2">
<div>
  <h2>Obnova hesla</h2>
</div>

<form th:action="@{/reset_password}" th:object="${userPassword}" method="post" style="max-width: 350px; margin: 0 auto;">
  <input type="hidden" name="token" th:value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <label >
        <input class="input-text" placeholder="Nové heslo" type="password" th:field="*{password}"/>
      </label>
      <p class="p-alert" th:each="error: ${#fields.errors('password')}"
         th:text="${error}">Validation error</p>
      <label >
        <input id="input-password-again" class="input-text" oninput="checkPasswordMatch(this);" placeholder="Heslo znovu" type="password" th:field="*{matchingPassword}"/>
      </label>
      <p class="p-alert" th:each="error: ${#fields.errors('matchingPassword')}"
         th:text="${error}">Validation error</p>
      <p class="text-center">
        <button type="submit" >Změnit heslo</button>
      </p>
    </div>
  </div>
</form>
</section>
<section class="section3">
  <div id="div-footer">
    <div th:replace="fragments/footer :: footer"></div>
  </div>
</section>
</body>
</html>